Repository pyproj4/pyproj, pull requests merged in 2023-05, with the labels that each got.

#1287 ENH: Added parameter output_axis_rule to CRS.to_wkt
  docs/history.rst
  pyproj/_crs.pxd
  pyproj/_crs.pyi
  pyproj/_crs.pyx
  pyproj/crs/crs.py
  test/crs/test_crs.py
Labels: enhancement

#1288 BUG: fix Geod.npts NaN handling
  docs/history.rst
  pyproj/_geod.pyi
  pyproj/_geod.pyx
  pyproj/geod.py
  test/test_geod.py
Labels: bug

#1289 TST: Fix test_datum_unknown
  test/conftest.py
  test/crs/test_crs.py
Labels: test

#1290 TST: Fix transformer test_repr
  test/test_transformer.py
Labels: test
