Repository pyproj4/pyproj, pull requests merged in 2024-06, with the labels that each got.

#1407 Test datum ensemble allowing new members
  test/crs/test_crs.py
Labels: test

#1411 CI: Macos 11 -> Macos 12
  .github/workflows/release.yaml
Labels: cicd

#1412 TST: test_coordinate_operation_grids__alternative_grid_name PROJ 9.4.1 compatibility
  test/conftest.py
  test/crs/test_crs.py
Labels: proj, test
